chapters/abstract.aux
chapters/edit.aux
chapters/general.aux
chapters/guide.aux
chapters/resume.aux
chapters/substance.aux
chapters/thanks.aux
figures/fig-eps-converted-to.pdf
templet.aux
templet.bbl
templet.blg
templet.lof
templet.log
templet.lot
templet.out
templet.pdf
templet.synctex.gz
templet.toc

